body {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

a {
    outline: none;
}

#wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
}

#navigation .nav-pills .nav-link.active {
    border-radius: 0;
}

#navigation .nav-fill .nav-item {
    font-weight: bold;
    line-height: 35px;
}

#navigation .nav-pills li:first-child a.active {
    border-radius: 4px 0 0 4px;
}

#navigation .nav-pills li:last-child a.active {
    border-radius: 0 4px 4px 0;
}